
/*  Left Plam  */
.lefthandContainer {
    position: relative;
    width: 500px;
    height: 550px;
    border: 1px black solid;
    overflow: hidden;
    background-color: #EEE;
    cursor: pointer;
    background: url('./img/LeftPalm.png') no-repeat;
    background-size: 100% 100%;
}

.lhthing, .lhthing1, .lhthing2, .lhthing3, .lhthing4, .lhthing5, .lhthing6, .lhthing7, .lhthing8, .lhthing9 {
    position: relative;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 50px;
    background-color: red;
    border-radius: 25px 25px;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}

/* Right Palm */

.righthandContainer {
    position: relative;
    width: 500px;
    height: 550px;
    border: 1px black solid;
    overflow: hidden;
    background-color: #EEE;
    cursor: pointer;
    background: url('./img/RightPalm.png') no-repeat;
    background-size: 100% 100%;
}

.rhthing, .rhthing1, .rhthing2, .rhthing3, .rhthing4, .rhthing5, .rhthing6, .rhthing7, .rhthing8, .rhthing9 {
    position: relative;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 50px;
    background-color: red;
    border-radius: 25px 25px;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}

/* left sole  */

.leftsoleContainer {
    position: relative;
    width: 500px;
    height: 550px;
    border: 1px black solid;
    overflow: hidden;
    background-color: #EEE;
    cursor: pointer;
    background: url('./img/Leftsole.png') no-repeat;
    background-size: 100% 100%;
}

.lsthing, .lsthing1, .lsthing2, .lsthing3, .lsthing4, .lsthing5, .lsthing6, .lsthing7, .lsthing8, .lsthing9 {
    position: relative;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 50px;
    background-color: red;
    border-radius: 25px 25px;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}

/* Right sole */


.rightsoleContainer {
    position: relative;
    width: 500px;
    height: 550px;
    border: 1px black solid;
    overflow: hidden;
    background-color: #EEE;
    cursor: pointer;
    background: url('./img/rightSole.png') no-repeat;
    background-size: 100% 100%;
}

.rsthing, .rsthing1, .rsthing2, .rsthing3, .rsthing4, .rsthing5, .rsthing6, .rsthing7, .rsthing8, .rsthing9{
    position: relative;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 50px;
    background-color: red;
    border-radius: 25px 25px;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}


/*  Front Body  */
.FrontBodyContainer {
    position: relative;
    width: 400px;
    height: 600px;
    border: 1px black solid;
    overflow: hidden;
    background-color: #EEE;
    cursor: pointer;
    background: url('./img/Front_body.png') no-repeat;
    background-size: 100% 100%;
}

.fbthing, .fbthing1, .fbthing2, .fbthing3, .fbthing4, .fbthing5, .fbthing6, .fbthing7, .fbthing8, .fbthing9, .fbthing10, .fbthing11, .fbthing12, .fbthing13, .fbthing14, .fbthing15, .fbthing16, .fbthing17 {
    position: relative;
    width: 30px;
    height: 30px;
    left: 50px;
    top: 50px;
    background-color: red;
    border-radius: 25px 25px;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}


/* Front Body Drop Point location */

.FrontBodyDropconatiner{
    padding-left: 20px;
    padding-top: 50px;
    width: 380px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

p.padlist {
    padding-bottom: 2px;
  }
  

#Fbdcthing, #Fbdcthing1, #Fbdcthing2, #Fbdcthing3, #Fbdcthing4, #Fbdcthing5, #Fbdcthing6,
#Fbdcthing7, #Fbdcthing8, #Fbdcthing9, #Fbdcthing10, #Fbdcthing11, #Fbdcthing12, #Fbdcthing13,
#Fbdcthing14, #Fbdcthing15, #Fbdcthing16, #Fbdcthing17, #Fbdcthing18, #Fbdcthing19, #Fbdcthing20, #Fbdcthing21, #Fbdcthing22{
    position: relative;
    text-align: center;
    width: 30px;
    height: 30px;
    left: 50px;
    top: 50px;
    border: 2px solid red;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}

.sqrbg{
    background-color: #b94a4866;
}

/*  Back Body  */
.BackBodyContainer {
    position: relative;
    width: 400px;
    height: 600px;
    border: 1px black solid;
    overflow: hidden;
    background-color: #EEE;
    cursor: pointer;
    background: url('./img/Back_body.png') no-repeat;
    background-size: 100% 100%;
}
#bbthing, #bbthing1, #bbthing2, #bbthing3, #bbthing4, #bbthing5, #bbthing6, #bbthing7, #bbthing8, #bbthing9, 
#bbthing10, #bbthing11, #bbthing12, #bbthing13, #bbthing14, #bbthing15, #bbthing16, #bbthing17, #bbthing18, #bbthing19, #bbthing20, #bbthing21{
    position: relative;
    text-align: center;
    width: 30px;
    height: 30px;
    left: 50px;
    top: 50px;
    border: 2px solid red;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}

/*  Side Body  */
.SideBodyContainer {
    position: relative;
    width: 400px;
    height: 600px;
    border: 1px black solid;
    overflow: hidden;
    background-color: #EEE;
    cursor: pointer;
    background: url('./img/Side_body.png') no-repeat;
    background-size: 100% 100%;
}

#sbthing {
    position: relative;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 50px;
    border: 2px solid red;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}

#sbthing1 {
    position: relative;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 50px;
    border: 2px solid red;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}

#sbthing2 {
    position: relative;
    width: 40px;
    height: 40px;
    left: 50px;
    top: 50px;
    border: 2px solid red;
    transition: left .5s cubic-bezier(.42, -0.3, .78, 1.25),
    top .5s cubic-bezier(.42, -0.3, .78, 1.25);
}